extends layout.pug

block content
  div(class="row justify-content-md-center")
    h1="password reset"
  div(class="row justify-content-md-center")
    form(action="/forgot_password" method="POST")
      div(class="form-group")
        label="username"
        input(type="text" class="form-control" name="username" required)
      div(class="form-group")
        label="email"
        input(type="email" class="form-control" name="email" required)
      div(class="form-group")
        input(type="submit" class="btn btn-secondary btn-block")