extends layout.pug

block content
	div(class="row justify-content-md-center")
		h1="login"
	div(class="row justify-content-md-center")
		form(action="/login" method="post")
			div(class="form-group")
				label="username"
				input(type="text" class="form-control" name="username" required)
			div(class="form-group")
				label="password"
				input(type="password" class="form-control" name="password" required)
			div(class="form-group")
				input(type="submit" class="btn btn-secondary btn-block")